
/*Dates Selection Section*/
/*
.date-selector{
    color: white;
    width: 310px;
    background-color: #6896BB;
    padding: 5px 0;
    margin: auto;
}
.date-selector .cell {
    display: inline;   
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.date-selector .active {
    background-color: #06538F;
}

*/
