
/*Dates Selection Section for ORIGINAL BAR STYLES */
/*
.date-selector{
    color: white;
    width: 310px;
    background-color: #6896BB;
    padding: 5px 0;
    margin: auto;
}
.date-selector .cell {
    display: inline;   
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.date-selector .active {
    background-color: #06538F;
}
*/




/* HTML ELEMENTS:
* the <div> container: .date-selector 
* div1: #last30days .cell
* div2: #currentYear .cell
* div3: #customDates .cell
*/

.date-selector .active {
    text-decoration: underline;
}

        /*display: inline-block; /* 2 blocks in row, 1 below */
        /*display: inline; /* does not start on a new line and only takes up as much width as necessary. */
        /*display: block; /* always starts on a new line and takes up the full width available */
        /*display: none; /* hidden, and the page will be displayed as if the element is not there */
        /*visibility:hidden; /* hides an element but still takes up the same space as before affecting the layout*/






/* for table header rows */
.sortorder:after {
  content: '\25b2'; /* triangle depicting ascending order - smallest at top */
}
.sortorder.reverse:after {
  content: '\25bc'; /* upside-down triangle depicting descending order - largest at top */
}