/*TEMPLATES.CSS is for templates*/

.center {
    text-align: center;
}
.right {
    text-align: right;
}

/* Title */
.title {
    text-align: center;
    color: #000000;
    font-family: 'Basic', sans-serif;
}
.title h1 {
    font-size: 36px;
    margin-bottom: 0;
}
.title-dates {
    font-size: 22px;
}
.anchor-link {
    border-bottom: 2px #06538F solid;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}





/* section boxes for data */
.white-box {
    background-color: white;
    padding: 5px; /* space between text and box edge */
    box-shadow: 5px 5px 5px gray;
    max-width: 1200px; /* will not grow past 1200px wide */
    margin: auto; /* center on page */
}

/* Data Section */
table {
    background-color: white;
    font-size: 16px;
    margin: auto;
    border-collapse: collapse; /* single rather than double interior borders */
    max-width: 1200px; /* will not grow past 1200px wide */
}

/*Body Subheading labels*/
th {
    background-color: #06538F;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
td, th {
/*    background-image: linear-gradient(-180deg, #FFFFFF 0%, #D8D8D8 100%);*/
    padding: 5px;
    border:  1px #06538F solid;
}
th.payDate {
    min-width: 100px;
}
th.billNumber {
    min-width: 40px;
}
th.amountPaid {
    min-width: 50px;
}
.half-column {
    display: inline-block;
    width: 49%;
}


.maintenance-button-approve {
    background-color: #50b373;
    border: 2px #50b373 solid;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 4px;
    width: 80px;
    border-radius: 10px;
    text-transform: uppercase;
}
.maintenance-button-reject {
    color: #e51b2d;
    border: 2px red solid;
    display: inline-block;
    text-align: center;
    padding: 4px;
    width: 80px;
    border-radius: 10px;
    text-transform: uppercase;
}
#maintenance-page #maintenance-completed h2 {
    padding-top: 50px; /* space above Completed Work Orders h2 text */
}




/* FOR DEVICES LESS THAN 414 PIXELS WIDE */
.wide {
    display: none; /**/
}
.td-narrow-only {
    display: table-cell; 
}
.td-medium-only {
    display: none; 
}
.td-medium-plus {
    display: none; 
}
.td-wide-only {
    display: none; 
}
.third {
    display: block;
}
.overview-main,
.overview-right {
    display: block;
    width: 100%;
}


/* FOR DEVICES AT LEAST 415 PIXELS WIDE */
@media (min-width: 415px) {
    .wide {
        display: block;
    }    
    .narrow {
        display: none;
    }
    .td-narrow-only {
        display: none; 
    }
    .td-medium-only {
        display: table-cell; 
    }
    .td-medium-plus {
        display: table-cell; 
    }
    .td-wide-only {
        display: none; 
    }
    .third {
        display: inline-block;
        width: 32%;
    }


}

/* FOR DEVICES AT LEAST 770 PIXELS WIDE */
@media (min-width: 770px) {
    .td-narrow-only {
        display: none; 
    }
    .td-medium-only {
        display: none; 
    }
    .td-wide-only {
        display: table-cell; 
    }
    .overview-main {
        /*display: inline-block; /* 2 blocks in row, 1 below */
        /*display: inline; /* does not start on a new line and only takes up as much width as necessary. */
        /*display: block; /* always starts on a new line and takes up the full width available */
        /*display: none; /* hidden, and the page will be displayed as if the element is not there */
        /*visibility:hidden; /* hides an element but still takes up the same space as before affecting the layout*/
        /*position: relative; /* one block per row, correct width, scrolls over header nav */
        float: left;
        width: 65%;
        padding: 0 1%;
    }
    .overview-right {
        /*display: inline-block; /* 2 blocks in row, 1 below */
        /*display: inline; /* one block per line, full width*/
        /*position: relative; /* one block per row, correct width, scrolls over header nav */
        float: right;
        width: 30%;
        padding: 0 1%;
    }
    .clearLeft {
        clear: both;
    }
}
