/*TEMPLATES.CSS is for templates*/

.center {
    text-align: center;
}
.right {
    text-align: right;
}

/* Title */
.title {
    text-align: center;
    color: #000000;
    font-family: 'Basic', sans-serif;
}
.title h1 {
    font-size: 36px;
    margin-bottom: 0;
}
.title-dates {
    font-size: 22px;
}
.anchor-link {
    border-bottom: 2px #06538F solid;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}





/* section boxes for data */
.white-box {
    background-color: white;
    padding: 5px;
    box-shadow: 5px 5px 5px gray;
}

/* Data Section */
table {
    background-color: white;
    font-size: 16px;
    margin: auto;
    border-collapse: collapse; /* single rather than double interior borders */
}

/*Body Subheading labels*/
th {
    background-color: #06538F;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
td, th {
/*    background-image: linear-gradient(-180deg, #FFFFFF 0%, #D8D8D8 100%);*/
    padding: 5px;
    border:  1px #06538F solid;
}
.half-column {
    display: inline-block;
    width: 49%;
}


.maintenance-button-approve {
    background-color: #50b373;
    border: 2px #50b373 solid;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 4px;
    width: 80px;
    border-radius: 10px;
    text-transform: uppercase;
}
.maintenance-button-reject {
    color: #e51b2d;
    border: 2px red solid;
    display: inline-block;
    text-align: center;
    padding: 4px;
    width: 80px;
    border-radius: 10px;
    text-transform: uppercase;
}




/* FOR DEVICES LESS THAN 692 PIXELS WIDE */
.wide {
    display: none;
}
.td-narrow-only {
    display: table-cell; 
}
.td-medium-only {
    display: none; 
}
.td-medium-plus {
    display: none; 
}
.td-wide-only {
    display: none; 
}
.third {
    display: block;
}
#overview-first,
#overview-second,
#overview-third {
    display: block;
    width: 100%;
}


/* FOR DEVICES AT LEAST 692 PIXELS WIDE */
@media (min-width: 692px) {
    .wide {
        display: block;
    }    
    .narrow {
        display: none;
    }
    .td-narrow-only {
        display: none; 
    }
    .td-medium-only {
        display: table-cell; 
    }
    .td-medium-plus {
        display: table-cell; 
    }
    .td-wide-only {
        display: none; 
    }
    .third {
        display: inline-block;
        width: 32%;
    }


}

/* FOR DEVICES AT LEAST 1000 PIXELS WIDE */
@media (min-width: 1000px) {
    .td-narrow-only {
        display: none; 
    }
    .td-medium-only {
        display: none; 
    }
    .td-wide-only {
        display: table-cell; 
    }
    #overview-first {
        /*display: inline-block; /* 2 blocks in row, 1 below */
        /*display: inline; /* one block per line, full width*/
        position: relative; /* one block per row, correct width, scrolls over header nav */
        width: 65%;
        padding: 0 1%;
    }
    #overview-second,
    #overview-third {
        /*display: inline-block; /* 2 blocks in row, 1 below */
        /*display: inline; /* one block per line, full width*/
        position: relative; /* one block per row, correct width, scrolls over header nav */
        width: 30%;
        padding: 0 1%;
    }
}
