<!DOCTYPE html>
<html ng-app="propertyManagement">
<head lang="en">
    <meta charset="UTF-8">
    <title>Owner's Portal</title>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/dateselect.css">
    <link rel="stylesheet" href="/styles/templates.css">
    <link rel="stylesheet" href="/styles/print.css">
    <link href='https://fonts.googleapis.com/css?family=Hind+Vadodara|Basic' rel='stylesheet' type='text/css'>
</head>
<body>
    
    

    
    <!-- Hamburger For Narrow Screens -->
    <div class="right-third dropdown" ng-controller="MyAccountCtrl as myAcct">
        <a id="hamburger-menu" class="hamburger dropbtn" ng-click="myAcct.Data.toggleMyAccountDropdown()">&#9776;</a>        
        <div class="dropdown-content">
            <a ui-sref="profile">My Profile</a>
            <a ui-sref="contribution">Bank Transfer</a>
            <a ui-sref="documents" id="nav-documents">Documents</a>
            <a href="#">Sign Out</a>
        </div>
    </div>

    
    <!-- Nav Links For Wide Screens -->
    <nav>
        <div class="left-third">
            <a>Logo</a>
        </div>
        <div class="center-third">
            <a ui-sref="overview" class="nav" id="nav-overview">Overview</a>
            <a ui-sref="transactions" class="nav" id="nav-transactions">Transactions</a>
            <a ui-sref="bills" class="nav" id="nav-bills">Repair History</a>
            <a ui-sref="maintenance" class="nav" id="nav-maintenance">Maintenance</a>
        </div>
        <div class="right-third dropdown" ng-controller="MyAccountCtrl as myAcct">
            <a ng-click="myAcct.Data.toggleMyAccountDropdown()" class="dropbtn">My Account</a>
            <div class="dropdown-content">
            <a ui-sref="profile">My Profile</a>
            <a ui-sref="contribution">Bank Transfer</a>
            <a ui-sref="documents" id="nav-documents">Documents</a>
            <a href="#">Sign Out</a>
            </div>
        </div>
    </nav>

    
    <main>
        <ui-view></ui-view>
    </main>
    

    
    
    <footer>
        <div class="footer-narrow">
            <div class="link"><a ui-sref="overview" class="page-overview">Overview</a></div>
            <div class="link"><a ui-sref="transactions" class="page-transactions">Transactions</a></div>
            <div class="link"><a ui-sref="bills" class="page-bills">Repair History</a></div>
            <div class="link"><a ui-sref="maintenance" class="page-maintenance">Maintenance</a></div>
        </div>
        <div class="footer-wide">
            <a>link 1</a>
            <a>link 2</a>
        </div>
    </footer>

    





    
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <!--FirebaseJS library-->
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>    
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <!--jQuery Main Library-->    
<!--    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <!--JS UI-Router Library-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    

    

    <!--JS Main-->
    <script src="/scripts/app.js"></script>

    <!--JS Services -->
    <script src="/scripts/services/Data.js"></script>
<!--    <script src="/scripts/services/WorkOrders.js"></script>-->


    <!--JS Controllers -->
    <script src="/scripts/controllers/BillsCtrl.js"></script>
    <script src="/scripts/controllers/CashFlowCtrl.js"></script>
    <script src="/scripts/controllers/OverviewCtrl.js"></script>
    <script src="/scripts/controllers/MaintenanceCtrl.js"></script>
    <script src="/scripts/controllers/StatementsCtrl.js"></script>
    <script src="/scripts/controllers/SelectDateRangeCtrl.js"></script>
    <script src="/scripts/controllers/MyAccountCtrl.js"></script>
    <script src="/scripts/controllers/MaintenancePendingCtrl.js"></script>


    <!--JS Directive Templates-->
    <!--<script src="/scripts/directives/seekBar.js"></script>-->

    <!--JS Filters-->
    <script src="/scripts/filters/billNumber.js"></script>
    <script src="/scripts/filters/transactionType.js"></script>
    <script src="/scripts/filters/accountType.js"></script>

</body>
</html>