
<div>
    <div class="third"></div>
    <div class="third">
        <div class="title">
            <!-- MOBILE -->
            <h1 class="narrow">{{ cashflow.title }} {{ cashflow.beginDateRange | date: 'M/d/yy' }}-{{ cashflow.endDateRange | date: 'M/d/yy'}}</h1>
            <!-- DESKTOP -->
            <h1 class="wide">{{ cashflow.title }}</h1>
            <div class="wide title-dates">from {{ cashflow.beginDateRange | date: 'MM/dd/yyyy' }} to {{ cashflow.endDateRange | date: 'MM/dd/yyyy'}}</div>
    </div>
    </div>
    <div class="third">
        <table>
            <tr><th>Building/unit: <select><option value="216554THSTREE">2165 54th St</option></select></th></tr>
        </table>
    </div>
</div>
<!--

 <td ng-init="itemTotal = product.price * product.quantity; controller.Total = controller.Total + itemTotal">{{itemTotal}} €</td>
    </tr>
-->

<br/>
<div>

    <table>
        <tr><th>Total Income</th><td class="right" style="color:blue">{{cashflow.getSum('I') | currency}} </td></tr>
        <tr><th>Total Expenses</th><td class="right" style="color:red"> {{cashflow.getSum('E') | currency}} </td></tr>
        <tr style="font-size: 30px"><th>Net Profit</th><td class="right" style="color:green"> {{cashflow.getSum('P') | currency}} </td></tr>
    </table>

</div>

<br/>

<table>
    <tr style="cursor: pointer">
        <!-- 1 payDate--><th class="payDate"><span ng-click="cashflow.order('payDate')">pay Date
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'payDate'" 
                  ng-class="{reverse:cashflow.reverse}"></span></span>
            <ng-include src="'/templates/selectDateRange.html'"></ng-include>
        </th>
        <!-- 7 amountPaid--><th class="amountPaid" ng-click="cashflow.order('amountPaid')">amount Paid
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'amountPaid'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
        <!-- 5 account type --><th ng-click="cashflow.order('account')">type
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'account'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
        <!-- 4 description--><th class="td-wide-only" ng-click="cashflow.order('description')">description
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'description'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
        <!-- 2 billNumber--><th class="td-medium-plus billNumber" ng-click="cashflow.order('billNumber')">bill / Transfer Ref #
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'billNumber'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
    </tr>
    <tr ng-repeat="item in cashflow.filteredBills | orderBy: cashflow.setColumnSort: cashflow.reverse">
        <!-- 1 payDate--><td class="right"> {{ item.payDate | date: 'MM/dd/yyyy' }} </td>
        <!-- 7 amountPaid expense red --><td class="right" ng-show="{{item.account}} >= '5000'" style="color: red"> {{ item.amountPaid | currency }} </td>
        <!-- 7 amountPaid income blue--><td class="right" ng-show="{{item.account}} >= '4000' && {{item.account}} < '5000'" style="color: blue"> {{ item.amountPaid | currency }} </td>
        <!-- 7 amountPaid owner draw green--><td class="right" ng-show="{{item.account}} <= '2000'" style="color: green"> {{ item.amountPaid | currency }} </td>
        <!-- 5 account type --><td> {{ item.account | accountType }} {{item.portfolio}}
        <span ng-show="{{item.account == '1000'}}"><a class="ion-ios-download-outline"></a></span>
        </td>
        <!-- 4 description--><td class="td-wide-only"> {{ item.description | limitTo:50 }} </td>
        <!-- 2 billNumber --><td class="td-medium-plus"> <a ui-sref="bill( {billNumber: '{{ item.billNumber }}' } )">{{ item.billNumber | billNumber }}</a> {{ item.referenceNumber }}</td>
    </tr>
</table>



<!--
class="td-narrow-only" 
class="td-medium-only"
class="td-wide-only"
class="td-medium-plus"
{{ item.account | accountType}} {{item.portfolio}} {{ item.description | limitTo:30 }}    
<span ng-show="maintenance.Data.showBills( {{item.workOrderNumber}} , maintenance.Data.getWorkOrderNumber(bill) )">{{ bill.billNumber }} {{bill.cost | currency }}</span>
-->    

<!-- ***To add more transactions*** -->
<!-- 
<br/>
<div>
    <table>
        <tr>
            <th style="text-align: right">Add a new:</th>
            <th><button id="btnNewItemUpdate" class="btn btn-primary">Bill</button></th>
            <th><button id="btnNewOwnerDraw" class="btn btn-primary">Owner Draw</button></th>
            <th><button id="btnNewIncome" class="btn btn-primary">Rent/Other Income</button></th>
        </tr>
        <tr>
            <td>Bill#:<input type="number" id="billNumber" placeholder="bill number"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Bill Date:
                <select id="billDate" name="billDate">
                    <option ng-repeat="date in cashflow.datesInMS" value={{date.value}}>{{date.label}}</option>
                </select></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Due Date:
                <select id="date_month_dueDate" name="date_month_dueDate">
                    <option value="January">1 - Jan</option>
                    <option value="February">2 - Feb</option>
                    <option value="March">3 - Mar</option>
                    <option value="April">4 - Apr</option>
                    <option value="May">5 - May</option>
                    <option value="June">6 - Jun</option>
                    <option value="July">7 - Jul</option>
                    <option value="August">8 - Aug</option>
                    <option value="September">9 - Sep</option>
                    <option value="October">10 - Oct</option>
                    <option value="November">11 - Nov</option>
                    <option value="December">12 - Dec</option>
                </select>
                <input type="number" id="date_day_dueDate" placeholder="day_dueDate">
                <input type="number" id="date_year_dueDate" placeholder="year_dueDate">
            </td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Description:<input type="text" id="description" placeholder="description"></td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Building:<select id="building" name="building">
            <option ng-repeat="building in cashflow.myBuildings" value={{building.$key}}>{{building.building_name}}</option>
        </select></td>
            <td>X</td>
            <td></td>
            <td>X</td>
        </tr>
        <tr>
            <td>Account:<select id="account" name="account">
            <option ng-repeat="account in cashflow.accountLabels" value={{account.$id}}>{{account.$value}}</option>
        </select></td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Amount:<input type="number" id="cost" placeholder="cost"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Pay Date:<select id="payDate" name="payDate">
            <option ng-repeat="date in cashflow.datesInMS" value={{date.value}}>{{date.label}}</option>
        </select></td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Amount Paid:<input type="number" id="amountPaid" placeholder="amountPaid"></td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Status:<select id="status" name="status">
            <option value="Paid">Paid</option>
            <option value="Unpaid">Unpaid</option>
        </select></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Vendor:<input type="text" id="vendor" placeholder="vendor"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>WorkOrder#:<input type="number" id="workOrderNumber" placeholder="workOrderNumber"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Portfolio:<select id="portfolio" name="portfolio">
            <option value="CLARKKENT">Clark Kent</option>
            <option value="">n/a</option>
        </select></td>
            <td></td>
            <td>X</td>
            <td></td>
        </tr>
        <tr>
            <td>Paid by Tenant:<select id="tenant" name="account">
            <option ng-repeat="tenant in cashflow.allTenants" value={{tenant.$id}}>{{tenant.$value}}</option>
        </select></td>
            <td></td>
            <td></td>
            <td>X</td>
        </tr>
        <tr>
            <td>Reference#:<input type="text" id="referenceNum" placeholder="reference# for Owner Draw"></td>
            <td></td>
            <td>X</td>
            <td></td>
        </tr>
    </table>
 -->

</div>