
<div>
    <div class="third"></div>
    <div class="third">
        <div class="title">
            <!-- MOBILE -->
            <h1 class="narrow">{{ cashflow.title }} {{ cashflow.beginDateRange | date: 'M/d/yy' }}-{{ cashflow.endDateRange | date: 'M/d/yy'}}</h1>
            <!-- DESKTOP -->
            <h1 class="wide">{{ cashflow.title }}</h1>
            <div class="wide title-dates">from {{ cashflow.beginDateRange | date: 'MM/dd/yyyy' }} to {{ cashflow.endDateRange | date: 'MM/dd/yyyy'}}</div>
    </div>
    </div>
    <div class="third">
        <table>
            <tr><th>Building/unit: <select><option value="216554THSTREE">2165 54th St</option></select></th></tr>
        </table>
    </div>
</div>
<!--

 <td ng-init="itemTotal = product.price * product.quantity; controller.Total = controller.Total + itemTotal">{{itemTotal}} €</td>
    </tr>
-->

<br/>
<div>

    <table>
        <tr><th>Total Income</th><td class="right" style="color:blue">{{cashflow.getSum('I') | currency}} </td></tr>
        <tr><th>Total Expenses</th><td class="right" style="color:red"> {{cashflow.getSum('E') | currency}} </td></tr>
        <tr style="font-size: 30px"><th>Net Profit</th><td class="right" style="color:green"> {{cashflow.getSum('P') | currency}} </td></tr>
    </table>

</div>

<br/>

<table>
    <tr style="cursor: pointer">
        <!-- 1 payDate--><th class="payDate"><span ng-click="cashflow.order('payDate')">pay Date
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'payDate'" 
                  ng-class="{reverse:cashflow.reverse}"></span></span>
            <ng-include src="'/templates/selectDateRange.html'"></ng-include>
        </th>
        <!-- 7 amountPaid--><th class="amountPaid" ng-click="cashflow.order('amountPaid')">amount Paid
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'amountPaid'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
        <!-- 5 account type --><th ng-click="cashflow.order('account')">type
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'account'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
        <!-- 4 description--><th class="td-wide-only" ng-click="cashflow.order('description')">description
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'description'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
        <!-- 2 billNumber--><th class="td-medium-plus billNumber" ng-click="cashflow.order('billNumber')">bill / Transfer Ref #
            <span class="sortorder" 
                  ng-show="cashflow.setColumnSort === 'billNumber'" 
                  ng-class="{reverse:cashflow.reverse}"></span>
        </th>
    </tr>
    <tr ng-repeat="item in cashflow.filteredBills | orderBy: cashflow.setColumnSort: cashflow.reverse">
        <!-- 1 payDate--><td class="right"> {{ item.payDate | date: 'MM/dd/yyyy' }} </td>
        <!-- 7 amountPaid expense red --><td class="right" ng-show="{{item.account}} >= '5000'" style="color: red"> {{ item.amountPaid | currency }} </td>
        <!-- 7 amountPaid income blue--><td class="right" ng-show="{{item.account}} >= '4000' && {{item.account}} < '5000'" style="color: blue"> {{ item.amountPaid | currency }} </td>
        <!-- 7 amountPaid owner draw green--><td class="right" ng-show="{{item.account}} <= '2000'" style="color: green"> {{ item.amountPaid | currency }} </td>
        <!-- 5 account type --><td> {{ item.account | accountType }} {{item.portfolio}}
        <span ng-show="{{item.account == '1000'}}"><a class="ion-ios-download-outline"></a></span>
        </td>
        <!-- 4 description--><td class="td-wide-only"> {{ item.description | limitTo:50 }} </td>
        <!-- 2 billNumber --><td class="td-medium-plus"> <a ui-sref="bill( {billNumber: '{{ item.billNumber }}' } )">{{ item.billNumber | billNumber }}</a> {{ item.referenceNumber }}</td>
    </tr>
</table>



<!--
class="td-narrow-only" 
class="td-medium-only"
class="td-wide-only"
class="td-medium-plus"
{{ item.account | accountType}} {{item.portfolio}} {{ item.description | limitTo:30 }}    
<span ng-show="maintenance.Data.showBills( {{item.workOrderNumber}} , maintenance.Data.getWorkOrderNumber(bill) )">{{ bill.billNumber }} {{bill.cost | currency }}</span>
-->    

<!-- ----------------- FOR ADDING MORE TRANSACTIONS ----------------- -->
<!--
<br/>
<div>
    <table>
        <tr>
            <th style="text-align: right">Add a new:<button id="btnNewTransaction" class="btn btn-primary">Transaction</button></th>
            <th>bill</th>
            <th>owner draw</th>
            <th>rent/income</th>
        </tr>
        <tr>
            <td>Bill#:<input type="number" class="input50" id="billNumber" placeholder="bill number"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Bill Date:
                <select id="monthBD" name="monthBD">
                    <option ng-repeat="date in cashflow.months" value={{date.monthText}}>{{date.label}}</option>
                </select>
                <input type="number" class="input30" id="dayBD" placeholder="day (1-31)">
                <input type="number" class="input50" id="yearBD" placeholder="2016">
                <input type="number" class="input30" id="hoursBD" placeholder="hours (0-23)">
                <input type="number" class="input30" id="minutesBD" placeholder="minutes (0-59)">
            </td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Due Date:
                <select id="monthDD" name="monthDD">
                    <option ng-repeat="date in cashflow.months" value={{date.monthText}}>{{date.label}}</option>
                </select>
                <input type="number" class="input30" id="dayDD" placeholder="day (1-31)">
                <input type="number" class="input50" id="yearDD" placeholder="2016">
            </td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Description:<input type="text" class="input300" id="description" placeholder="description"></td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Building:
                <select id="building" name="building">
                    <option ng-repeat="building in cashflow.myBuildings" value={{building.$id}}>{{building.building_name}}</option>
                </select>
            </td>
            <td>X</td>
            <td></td>
            <td>X</td>
        </tr>
        <tr>
            <td>Account:<select id="account" name="account">
            <option ng-repeat="account in cashflow.accountLabels" value={{account.$id}}>{{account.$value}}</option>
        </select></td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Amount:<input type="number" id="cost" placeholder="cost"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Pay Date:
                <select id="monthPD" name="monthPD">
                    <option ng-repeat="date in cashflow.months" value={{date.monthText}}>{{date.label}}</option>
                </select>
                <input type="number" class="input30" id="dayPD" placeholder="day (1-31)">
                <input type="number" class="input50" id="yearPD" placeholder="2016">
                <input type="number" class="input30" id="hoursPD" placeholder="hours (0-23)">
                <input type="number" class="input30" id="minutesPD" placeholder="minutes (0-59)">
            </td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Amount Paid:<input type="number" id="amountPaid" placeholder="$"></td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
        </tr>
        <tr>
            <td>Status:
                <select id="status" name="status">
                    <option value="Paid">Paid</option>
                    <option value="Unpaid">Unpaid</option>
                </select>
            </td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Vendor:<input type="text" id="vendor" placeholder="vendor name"></td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>WorkOrder#:
                <select id="workOrderNumber" name="workOrderNumber">
                    <option value="">n/a</option>
                    <option ng-repeat="workOrder in cashflow.allMaintenance | orderBy: '-dateCreated'" value={{workOrder.workOrderNumber}}>{{workOrder.workOrderNumber}} {{workOrder.dateCreated | date: 'M/d/yy'}} {{workOrder.description  | limitTo:40 }}</option>
                </select>
            </td>
            <td>X</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Portfolio:
                <select id="portfolio" name="portfolio">
                    <option value="CLARKKENT">Clark Kent</option>
                </select>
            </td>
            <td></td>
            <td>X</td>
            <td></td>
        </tr>
        <tr>
            <td>Paid by Tenant:
                <select id="paidByTenantID" name="account">
                    <option ng-repeat="tenants in cashflow.allApplicants | orderBy: '-applicationDate'" value={{tenants.$id}}>{{tenants.applicantName}}, {{tenants.applicationDate | date: 'yyyy'}}</option>
                </select>
            </td>
            <td></td>
            <td></td>
            <td>X</td>
        </tr>
        <tr>
            <td>Reference#:<input type="text" id="referenceNum" placeholder="reference# for Owner Draw"></td>
            <td></td>
            <td>X</td>
            <td></td>
        </tr>
    </table>
</div>
<!-- ----------------- end FOR ADDING MORE TRANSACTIONS ----------------- -->