<h1 class="center">Bank Transfer</h1>

<section class="white-box">
    <div>
        <h2>New Bank Transfer to property management company</h2>
        Portfolio <select><option value="Clark Kent">Clark Kent</option></select><br/>
        Amount <input type="text" placeholder="$0.00"><br/>
        Comments <input type="text" size="60">
    </div>

    <div>
        <h2>Payment Account</h2>
        Payment Method <select><option value="eCheck">E-Check</option></select><br/>
        Bank Name <select><option value="RLBank">R&L Bank</option></select><br/>
        Account Type <select><option value="Checking">Checking</option></select>
    </div>
    <span class="center">
        <div class="maintenance-button-approve" >Save</div>
        <div class="maintenance-button-reject" >Cancel</div>
    </span>

    <p>Please take into consideration that the settlement of your payment will take 3 to 4 business days. In months where the payments date is a weekend or holiday, your payment will be initiated the next business day. To avoid a non-sufficient funds fee, please be sure that your bank account has the sufficient funds to cover your payment.</p>
    
</section>