
<div class="white-box" id="maintenance-pending" ng-controller="MaintenancePendingCtrl as maintenance">
    
    <div ng-repeat="item in maintenance.allPendingMaintenance">
        <div>
            <div class="half-column">
                Created: {{ item.dateCreated | date: 'MM/dd/yyyy' }}
                <br/>Location: {{ item.building }}
            </div>
            <div class="half-column">
                WO#{{ item.workOrderNumber }}
                <br/><a class="ion-ios-telephone"></a>
                <span>&nbsp;</span>
                <a class="ion-email"></a>
            </div>
        </div>
        <div>
            <br/>{{ item.description }}
            <br/>
            <span class="center">
                <div class="maintenance-button-approve" ng-click="overview.Data.decideWorkOrder(item,1)">Approve</div>
                <div class="maintenance-button-reject" ng-click="overview.Data.decideWorkOrder(item,0)">Reject</div>
            </span>
        </div>

            <hr/>
        
    </div>
</div>