<section id="maintenance-page">
    
    
    
<div class="title">
    <!-- MOBILE -->
    <h1>All {{ maintenance.title }}</h1>
</div>

<div class="anchor-link">
    <a href="#maintenance-pending">Pending</a>
    <a href="#maintenance-ongoing">Ongoing</a>
    <a href="#maintenance-completed">Completed</a>
</div>




<a id="maintenance-pending"></a>
<div class="overview-main">
    <h2 class="center">Pending Work Orders</h2>
    <ng-include src="'/templates/maintenance-pending.html'"></ng-include>
</div>


<a id="maintenance-ongoing"></a>
<div class="overview-right">
    <h2 class="center">Ongoing Work Orders</h2>
    <div class="white-box">
        <div ng-show='maintenance.allOpenMaintenance.length == 0'>There are no ongoing work orders.</div>
        <div ng-repeat="item in maintenance.allOpenMaintenance">
            <span><a ui-sref="workorder( {workOrderNumber: '{{ item.workOrderNumber }}' } )">WO#{{item.workOrderNumber}}</a>
                <br/>Created: {{ item.dateCreated | date: 'MM/dd/yyyy' }}
                <br/>Started: {{ item.dateStarted | date: 'MM/dd/yyyy' }}
                <br/>Location: {{item.building | buildingNickname }}
                <br/>{{item.description}}
                <br/><span ng-repeat="bill in maintenance.allBills "> 
                        <span ng-show="{{bill.workOrderNumber}}">
                            <span ng-show="maintenance.Data.showBills( {{item.workOrderNumber}} , maintenance.Data.getWorkOrderNumber(bill) )">
                                <a ui-sref="bill( {billNumber: '{{ bill.billNumber }}' } )">
                                    {{ bill.billNumber | billNumber}}</a>
                                {{bill.cost | currency }} &nbsp;
                            </span>
                        </span>
                    </span>
                <a class="ion-ios-telephone"></a>
                <span>&nbsp;</span>
<!--                <a ui-sref="workorder( {workOrderNumber: '{{ item.workOrderNumber }}'/#anchorSendMessage } )">-->
                    <a class="ion-email"></a>
<!--                </a>-->
                <hr/>
            </span>
        </div>
    </div>
</div>




<a id="maintenance-completed"></a>
<div>
<h2 class="center clearLeft">Completed Work Orders</h2>
<div class="completed">
    <table>
        <tr><th>Location: <select><option value="216554THSTREE">2165 54th St</option></select></th></tr>
    </table>
    
        <!--Wide Screens-->
    <table class="wide">
        <tr style="cursor: pointer">    
            <th ng-click="maintenance.order('dateCompleted')">date completed
                <span class="sortorder" 
                  ng-show="maintenance.setColumnSort === 'dateCompleted'" 
                  ng-class="{reverse:maintenance.reverse}"></span>
                <!--<ng-include src="'/templates/selectDateRange.html'"></ng-include>-->
            </th>     
            <th ng-click="maintenance.order('workOrderNumber')">work order #
                <span class="sortorder" 
                  ng-show="maintenance.setColumnSort === 'workOrderNumber'" 
                  ng-class="{reverse:maintenance.reverse}"></span>
            </th>
            <th class="td-wide-only" ng-click="maintenance.order('dateStarted')">date started
                <span class="sortorder" 
                  ng-show="maintenance.setColumnSort === 'dateStarted'" 
                  ng-class="{reverse:maintenance.reverse}"></span>
                <!--<ng-include src="'/templates/selectDateRange.html'"></ng-include>-->
            </th>
            <th ng-click="maintenance.order('description')">description
                <span class="sortorder" 
                  ng-show="maintenance.setColumnSort === 'description'" 
                  ng-class="{reverse:maintenance.reverse}"></span>
            </th>
            <th>Contact GPRES</th>
        </tr>
        
        <!--<tr ng-repeat="item in bills.filteredBills | orderBy: bills.setColumnSort: bills.reverse" ng-show="{{ item.billNumber }}">-->
        
        <tr ng-repeat="item in maintenance.allClosedMaintenance  | orderBy: maintenance.setColumnSort: maintenance.reverse">
            <td class="right"> {{ item.dateCompleted | date: 'MM/dd/yyyy' }} </td>
            <!--<ng-include src="'/templates/selectDateRange.html'"></ng-include>-->
            <td class="right"> <a ui-sref="workorder( {workOrderNumber: {{ item.workOrderNumber }} } )">WO#{{ item.workOrderNumber }} </a></td>
            <td class="right td-wide-only"> {{ item.dateStarted | date: 'MM/dd/yyyy' }} </td>
            <td> {{ item.description }} <br/>
                <span ng-repeat="bill in maintenance.allBills "> 
                    <span ng-show="{{bill.workOrderNumber}}">
                        <span ng-show="maintenance.Data.showBills( {{item.workOrderNumber}} , maintenance.Data.getWorkOrderNumber(bill) )">
                            <a ui-sref="bill( {billNumber: '{{ bill.billNumber }}' } )">
                                {{ bill.billNumber  |billNumber}}</a>
                            {{bill.cost | currency }} &nbsp;
                        </span>
                    </span>
                </span>
            </td>
            <td class="center"><a class="ion-ios-telephone"></a>
                <span>&nbsp;</span>
                <a class="ion-email"></a></td>
        </tr>
    </table>
</div>            
            




<!-- ------------------ ADDING NEW WORK ORDERS --------------------- -->
<!--
<br/>
<table>
    <tr>
        <th style="text-align: right">Add New</th>
        <th style="text-align: left ">Work Order</th>
    </tr>
    <tr>
        <th>Work Order #</th>
        <td><input type="number" id="workOrderNumber"></td>
    </tr>
    <tr>
        <th>Approved?</th>
        <td>
            <select id="approved" name="approved">
                <option value="Pending">Pending</option>
                <option value="Yes">Approved</option>
                <option value="No">Rejected</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            <select id="status" name="status">
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
                <option value="Pending">Pending Approval</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Location</th>
        <td><select id="building" name="building">
            <option ng-repeat="building in maintenance.myBuildings" value={{building.$id}}>{{building.building_name}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <td><input type="text" id="description"></td>
    </tr>
    <tr>
        <th>Specific Location in Unit</th>
        <td><input type="text" id="specificLocation" placeholder="Kitchen, Basement, Bedroom #1, etc."></td>
    </tr>
    <tr>
        <th>Preferred Time to Enter</th>
        <td><input type="text" id="preferEntry"></td>
    </tr>
    <tr>
        <th>Date Created</th>
        <td>
            <select id="monthDC" name="monthDC">
                <option ng-repeat="date in maintenance.months" value={{date.monthText}}>{{date.label}}</option>
            </select>
            <input type="number" id="dayDC" class="input30" placeholder="day (1-31)">
            <input type="number" id="yearDC" class="input50" placeholder="year">
            <br/>
            <input type="number" id="hourDC" class="input30" placeholder="hour (0-24)">:
            <input type="number" id="minuteDC" class="input30" placeholder="minute (0-59)">
        </td>
    </tr>
    <tr>
        <th>Start Date</th>
        <td>
            <select id="monthDS" name="monthDS">
                <option ng-repeat="date in maintenance.months" value={{date.monthText}}>{{date.label}}</option>
            </select>
            <input type="number" id="dayDS" class="input30" placeholder="day (1-31)">
            <input type="number" id="yearDS" class="input50" placeholder="year">
            <br/>
            <input type="number" id="hourDS" class="input30" placeholder="hour (0-24)">:
            <input type="number" id="minuteDS" class="input30" placeholder="minute (0-59)">
        </td>
    </tr>
    <tr>
        <th>Completed Date</th>
        <td>
            <select id="monthDF" name="monthDF">
                <option ng-repeat="date in maintenance.months" value={{date.monthText}}>{{date.label}}</option>
            </select>
            <input type="number" id="dayDF" class="input30" placeholder="day (1-31)">
            <input type="number" id="yearDF" class="input50" placeholder="year">
            <br/>
            <input type="number" id="hourDF" class="input30" placeholder="hour (0-24)">:
            <input type="number" id="minuteDF" class="input30" placeholder="minute (0-59)">
        </td>
    </tr>
    <tr>
        <th>Estimated Cost</th>
        <td><input type="number" id="estimatedCost" placeholder="$"></td>
    </tr>
    <tr>
        <th>Required Materials</th>
        <td><input type="text" id="requiredMaterials"></td>
    </tr>
    <tr>
        <th>Managed By</th>
        <td>
            <select id="employee" name="employee">
                <option value="">unknown</option>
                <option ng-repeat="employee in maintenance.allEmployees" value={{employee.$id}}>{{employee.teamName}} - {{employee.teamRole | limitTo:10}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Closing Comments</th>
        <td><input type="text" id="closingComments"></td>
    </tr>
    <tr>
        <th>Work Completed-Description</th>
        <td><input type="text" id="completeDescription"></td>
    </tr>
    <tr>
        <th>Work Remaining</th>
        <td><input type="text" id="workRemaining"></td>
    </tr>
    <tr>
        <th style="text-align: right">Click to submit</th>
        <th style="text-align: left"><button ng-click="maintenance.addNewWorkOrder()" id="btnNewWorkOrder" class="btn btn-primary">New Maintenance Request</button></th>
    </tr>
</table>
<!-- ------------------ end ADDING NEW WORK ORDERS --------------------- -->
    
    
    </section>