<div class="title">
    <h1>Dashboard</h1>
</div>



<div class="all-data">
    
    
    
    <div class="overview-main">
        <a ui-sref="maintenance"><h2 class="center">Pending Work Orders</h2></a>
        <ng-include src="'/templates/maintenance-pending.html'"></ng-include>
    </div>











<div class="overview-right">
    <a ui-sref="cashflow"><h2 class="center">Overview</h2></a>
    <div class="white-box">

        <div class="center">
            <div ng-repeat="item in overview.billsRentIncome"  ng-show="overview.Data.getLast30Days( {{ item.payDate }} )">
                {{item.building | buildingNickname }} rent received on {{ item.payDate | date: 'M/d' }} for {{ item.amountPaid | currency }}
            </div>
            <div ng-repeat="item in overview.billsOwnerDraw"  ng-show="overview.Data.getLast30Days( {{ item.payDate }} )">
                Monthly Profit Deposit {{ item.payDate | date: 'M/d' }} for {{ item.amountPaid | currency }} (Download statement <a class="ion-ios-download-outline"></a> )
            </div>
        </div>
    </div>
</div>
    
    
    
    
    <div class="overview-right">
    <a ui-sref="statements"><h2 class="center">Most Recent Statement</h2></a>
    <div class="white-box">

        <div ng-repeat="item in overview.latestStatement" class="center">
            <span> {{ item.beginDate | date: 'MM/dd/yyyy' }} - {{ item.endDate | date: 'MM/dd/yyyy' }}</span>
            <br/>Bills: 
            <span ng-repeat="bill in overview.allBills ">    
                <span ng-show="overview.Data.selectBills( {{item.beginDate}}, {{item.endDate}}, {{ bill.payDate}} )">
                        <a ui-sref="bill( {billNumber: '{{ bill.billNumber }}' } )">{{ bill.billNumber }}</a>
                </span>
            </span>
        </div>
    </div>
</div>
    
    
    
    
    
    </div>