<div class="title">
    <h1>Overview</h1>
</div>


<a ui-sref="maintenance"><h2 class="center">Pending Work Orders</h2></a>
<ng-include src="'/templates/maintenance-pending.html'"></ng-include>
<br/>





<a ui-sref="statements"><h2 class="center">Most Recent Statement</h2></a>
<div class="white-box">
    
    <div ng-repeat="item in overview.latestStatement" class="center">
        <span> {{ item.beginDate | date: 'MM/dd/yyyy' }} - {{ item.endDate | date: 'MM/dd/yyyy' }}</span>
        <br/>Total Income:
        <br/>Total Expenses:
        <br/>Owner Draw: <!--<span ng-repeat="bill in overview.allBills ">
            <span ng-show="overview.Data.getOwnerDraw( {{item.beginDate}}, {{item.endDate}}, {{ bill.payDate}}, {{bill.transactionType}} )">{{ bill.amountPaid | currency}}</span>
        </span>-->
        <br/>

        <span ng-repeat="bill in overview.allBills ">
            <a ui-sref="bills">
                <span ng-show="overview.Data.selectBills( {{item.beginDate}}, {{item.endDate}}, {{ bill.payDate}} )">{{ bill.billNumber | billNumber }}</span>
            </a>
        </span>
    </div>
</div>

<br/>



<a ui-sref="cashflow"><h2 class="center">My Status</h2></a>
<div class="white-box">
    
    <div class="center">
        <div ng-repeat="item in overview.billsRentIncome"  ng-show="overview.Data.getLast30Days( {{ item.payDate }} )">
            {{item.building}} rent received on {{ item.payDate | date: 'M/d' }} for {{ item.amountPaid | currency }}
        </div>
        <div ng-repeat="item in overview.billsOwnerDraw"  ng-show="overview.Data.getLast30Days( {{ item.payDate }} )">
            Deposit submitted {{ item.payDate | date: 'M/d' }} for {{ item.amountPaid*-1 | currency }} (Download statement <a class="ion-ios-download-outline"></a> )
        </div>
    </div>
<!--
    <table>
        <tr ng-repeat="item in overview.latestTransactions">
            <td> <a ui-sref="bills">{{ item.billNumber | billNumber }}</a> {{ item.transactionType | limitTo:11 }}</td>
            <td> {{ item.building }}</td>
            <td class="right"> {{ item.payDate | date: 'M/d' }}</td>
            <td class="right"> {{ item.amountPaid | currency }} </td>
        </tr>    
    </table>
-->
</div>