<h1 class="center">{{ profile.title }}</h1>

        
<a id="myteam"></a>
<h2 class="center">My Property Management Team</h2>
<p class="center">53 Harvey St, My City ST 13000
    <br/>(231) 555-5531 / (888) 555-5531</p>
<div class="wide">
    <table id="team-wide">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="employee in profile.allEmployees">
            <td>{{employee.teamName}}</td>
            <td>{{employee.teamRole}}</td>
            <td>(231) 555-5531, {{employee.teamPhoneExt}}</td>
            <td>{{employee.teamEmail}}</td>
        </tr>
    </table>
</div>    
<div class="narrow">
    <table id="team-narrow">
        <tr>
            <th>Name, Role
                <br/>Phone
                <br/>Email
            </th>
        </tr>
        <tr ng-repeat="employee in profile.allEmployees">
            <td>{{employee.teamName}}, {{employee.teamRole}}
                <br/>(231) 555-5531, {{employee.teamPhoneExt}}
                <br/>{{employee.teamEmail}}
            </td>
        </tr>
    </table>
</div>
    
<!-- ------------------ end ADDING NEW MANAGEMENT TEAM MEMBER --------------------- -->
    <!--
<br/>
<table id="addNew">
    <tr>
        <th style="text-align: right">Add New</th>
        <th style="text-align: left ">Management Member</th>
    </tr>
    <tr>
        <th>Name</th>
        <td><input type="text" id="teamName"></td>
    </tr>
    <tr>
        <th>Role</th>
        <td>
            <select id="teamRole" name="teamRole">
                <option value="Company Owner and President">Company Owner and President</option>
                <option value="Maintenance Coordination">Maintenance Coordination</option>
                <option value="Maintenance">Maintenance</option>
                <option value="Leasing">Leasing</option>
                <option value="Leasing Renewals and Utility Reimbursements">Leasing Renewals and Utility Reimbursements</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>Office Phone Extension</th>
        <td><input type="number" id="teamPhoneExt" placeholder="152"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><input type="email" id="teamEmail" placeholder="@pm.com"></td>
    </tr>
    <tr>
        <th style="text-align: right">Click to submit</th>
        <th style="text-align: left"><button id="btnNewEmployee" class="btn btn-primary" ng-click="profile.addNew()">New Maintenance Request</button></th>
    </tr>
</table>
<!-- ------------------ end ADDING NEW MANAGEMENT TEAM MEMBER --------------------- -->    
    






<a id="aboutme"></a>
<span ng-repeat="me in profile.myPortfolio">
    <h2 class="center">{{me.name}}'s Contact Information</h2>
        Home Phone: {{me.homePhone}}<br/>
        Work Phone: {{me.workPhone}}<br/>
        Mobile Phone: {{me.mobilePhone}}<br/>
        Email: {{me.email}}<br/>
        Second Contact: {{me.name2}}<br/>
        <a>Edit</a>
</span>
    





<a id="mybuildings"></a>
<h2 class="center">My Buildings</h2>
<div class="wide">
    <table>
        <tr>
            <th>Building Abbreviation</th>
            <th>Building Name</th>
            <th class="td-medium-plus">Building Address</th>
            <th>Unit</th>
            <th class="td-wide-only">sqft</th>
            <th class="td-wide-only">Beds</th>
            <th class="td-wide-only">Baths</th>
            <th>Nickname</th>
        </tr>
        <tr ng-repeat="location in profile.myBuildings">
            <td>{{location.$id}}</td>
            <td>{{location.building_name}}</td>
            <td class="td-medium-plus">{{location.street_address}}, {{location.city}} {{location.state}} {{location.zipcode}}</td>
            <td>{{location.unit}}</td>
            <td class="td-wide-only">{{location.sqft}}</td>
            <td class="td-wide-only">{{location.bedrooms}}</td>
            <td class="td-wide-only">{{location.bathrooms}}</td>
            <td>{{location.nickname}} <a>Edit</a></td>
        </tr>
    </table>
</div>
<div class="narrow">
    <table>
        <tr>
            <th>Building Abbreviation,
            <br/>Building Name / Unit,
            <br/>Nickname</th>
        </tr>
        <tr ng-repeat="location in profile.myBuildings">
            <td>{{location.$id}},
                <br/>{{location.building_name}} <span ng-show="{{location.unit}}">Unit {{location.unit}}</span>,
            <br/>{{location.nickname}} <a>Edit</a></td>
        </tr>
    </table>
</div>