<!-- DESKTOP ONLY-->
<div class="title"><p class="wide">Select an option to change date range:</p></div>

<!--ALL SCREEN WIDTHS-->
<div class="date-selector" ng-controller="SelectDateRangeCtrl as Ctrl">
    <div id="last30Days" 
         class="cell"
         ng-click="Ctrl.Data.changeDateRange(30)">Last 30 Days</div>
    <div id="currentYear" 
         class="cell"
         ng-click="Ctrl.Data.changeDateRange(365)">Current Year</div>
    <div id="customDates" 
         class="cell"
         ng-click="Ctrl.Data.changeDateRange(9999)">Custom Dates</div>
</div>
<div ng-show="(Ctrl.Data.setRange == 9999)">Begin: 
    Month: <select id="beginMonth">
        <option value=1>Jan</option>
        <option value=2>Feb</option>
        <option value=3>Mar</option>
        <option value=4>Apr</option>
        <option value=5>May</option>
        <option value=6>Jun</option>
        <option value=7>Jul</option>
        <option value=8>Aug</option>
        <option value=9>Sep</option>
        <option value=10>Oct</option>
        <option value=11>Nov</option>
        <option value=12>Dec</option>
    </select>
    Day: <input id="beginDay" type="text" size="8">
    Year: <select id="beginYear">
        <option value=2016>2016</option>
        <option value=2015>2015</option>
        <option value=2014>2014</option>
    </select>
    <button id="btnSelectDateDate" class="btn btn-primary">Submit</button>

</div>