<!-- ORIGINAL BAR VERSION-->
<!--<div class="title"><p class="wide">Select an option to change date range:</p></div>-->


<!--
<div class="date-selector" ng-controller="SelectDateRangeCtrl as Ctrl">
    <div id="last30Days" 
         class="cell"
         ng-click="Ctrl.Data.changeDateRange(30)">Last 30 Days</div>
    <div id="currentYear" 
         class="cell"
         ng-click="Ctrl.Data.changeDateRange(365)">Current Year</div>
    <div id="customDates" 
         class="cell"
         ng-click="Ctrl.Data.changeDateRange(9999)">6/1/15-8/15/15</div>
</div>
-->


<!--but in your select, the 'onchange' is actually a DOM event, not an angular event.  When this event fires, the event dispatcher is looking for something called Ctrl on the window object, which is undefined because that's something handled and defined by Angular.  You'll want to look into using ng-change. 
ng-selected="selected" where "selected" is an expression and refers to the ng-model="selected"
-->

<div ng-controller="SelectDateRangeCtrl as Ctrl"> 
    <select id="date-selector" name="date-selector" ng-model="Ctrl.setNumDays" ng-change="Ctrl.my_change()">
        <option id="last30Days" value=30>Last 30 Days</option>
        <option id="currentYear" value=365>Current Year</option>
        <option id="customDates" value=9999>6/1/15-8/15/15</option>
    </select>
</div>




<!--Use ngOptions to pull options from a list in the controller-->
<!--
<div ng-controller="SelectDateRangeCtrl as Ctrl"> 
    <select id="date-selector" 
            name="date-selector" 
            ng-model="Ctrl.setNumDays" 
            ng-change="Ctrl.my_change()"
            ng-options="option.name for option in Ctrl.availableOptions track by option.id">
    </select>
</div>
-->



<!--
<div ng-controller="SelectDateRangeCtrl as Ctrl"> 
  <form name="myForm">
    <select name="repeatSelect" id="repeatSelect" ng-model="Ctrl.select_ngRepeat.repeatSelect">
      <option ng-repeat="option in Ctrl.select_ngRepeat" value="{{option.id}}">{{option.name}}</option>
    </select>
  </form>
</div>
-->

