<div class="title">
    <h1>{{ statements.title }}</h1>
    <div class="title-dates">from {{ statements.beginDateRange | date: 'MM/dd/yyyy' }} to {{ statements.endDateRange | date: 'MM/dd/yyyy'}}</div>
</div>



<!--
         <tr class="album-view-song-item" 
             ng-mouseover="hovered = true" 
             ng-mouseleave="hovered = false" 
             ng-repeat="song in album.albumData.songs">
             <td class="song-item-number">
                  <span ng-show="!song.playing && !hovered"> {{$index+1}} </span>
                  <a class="album-song-button" 
                     ng-show="!song.playing && hovered" 
                     ng-click="album.songPlayer.play(song)"><span class="ion-play"></span></a>
                  <a class="album-song-button" 
                     ng-show="song.playing" 
                     ng-click="album.songPlayer.pause(song)"><span class="ion-pause"></span></a>
             </td>
             <td class="song-item-title"> {{song.name}} </td>
             <td class="song-item-duration"> {{song.length | timecode}} </td>
         </tr>

-->





<p class="center">Select an option to change date range:</p>
<div class="date-selector">
    <div id="last30Days" class="cell inactive"
       ng-click="statements.Data.changeDateRange(30)">Last 30 Days</div>
    <div id="currentYear" class="cell inactive"
       ng-click="statements.Data.changeDateRange(365)">Current Year</div>
    <div id="customDates" class="cell active">Custom Dates</div>
</div>

<br/>

<table>
    <tr>
        <th class="center">statement period</th>               
        <th>bill numbers</th>
    </tr>


    <tr ng-repeat="item in statements.filteredStatements">
        <td class="center"> {{ item.beginDate | date: 'MM/dd/yyyy' }} - {{ item.endDate | date: 'MM/dd/yyyy' }} </td>
        <td><span ng-repeat="bill in statements.allBills "> <a ui-sref="bills">
                <span ng-show="statements.Data.selectBills( {{item.beginDate}}, {{item.endDate}}, {{ bill.payDate}} )">{{ bill.billNumber }}</span></a>
            </span></td>
    </tr>
</table>


<!--
<div>
    <input type="text" id="beginDate" placeholder="beginDate">
    <input type="text" id="endDate" placeholder="endDate">

    <button id="btnStatementsUpdate" class="btn btn-primary">Update</button>
</div>-->
